// .mapboxgl-marker {
//     // background-image: url("../img/marker.svg");
//     // background-size: cover;
//     // width: 30px;
//     // height: 40px;
//     // cursor: pointer;
//     img {
//         width: 30px;
//         height: 40px;
//     }
//     span {
//         background-color: #6a4025;
//         border: 2px solid #ffffff;
//         border-radius: 2px;
//         color: #ffffff;
//         font-size: 16px;
//         padding: 4px 8px;
//     }
// }

.mapboxgl-ctrl-bottom-right {
    display: none !important;
}

.details {
    background-color: #6a4025;
    margin-top: 1.25rem;
    &:focus,
    &:hover {
        background-color: #6a4025;
    }
}

.check-in {
    position: absolute;
    top: 5px;
    right: 5px;
    button {
        background-color: #6a4025;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #ffffff;
        &:focus,
        &:hover {
            background-color: #6a4025;
            color: #ffffff;
        }
        i {
            color: #ffffff;
        }
    }
}

.reset-viewport {
    position: absolute;
    bottom: 5px;
    right: 5px;
    button {
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: #6a4025;
        &:focus,
        &:hover {
            background-color: #ffffff;
            color: #6a4025;
        }
        i {
            color: #6a4025;
        }
    }
}

.geolacte-control {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.navigation-control {
    position: absolute;
    top: 36px;
    left: 0;
    padding: 10px;
}

.popup-info {
    img {
        height: auto;
        max-width: 480px;
        width: 100%;
    }
    table {
        td {
            &:first-child {
                font-weight: 700;
            }
        }
    }
}
