.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.app .navigation-bottom,
.app .navigation-top {
  background-color: #ffffff;
  left: 0;
  position: fixed;
  transition: all 0.333s ease-out;
  width: 100%;
  z-index: 1;
}
.app .navigation-bottom .control,
.app .navigation-top .control {
  align-items: center;
  background-color: #6a4025;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  height: 28px;
  justify-content: center;
  left: calc(50% - (56px / 2));
  position: absolute;
  width: 56px;
}
.app .navigation-bottom {
  border-top: 10px solid #6a4025;
  height: 200px;
}
.app .navigation-bottom .control {
  border-radius: 2px 2px 0 0;
  top: calc(-28px - 10px);
}
.app .navigation-top {
  border-bottom: 10px solid #6a4025;
  height: 100px;
}
.app .navigation-top .control {
  border-radius: 0 0 2px 2px;
  bottom: calc(-28px - 10px);
}
.app .router {
  flex: 1 0 auto;
}
.app .router .fourteener .check-in {
  position: absolute;
  top: 5px;
  right: 5px;
}
.app .router .fourteener .check-in button {
  background-color: #6a4025;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #ffffff;
}
.app .router .fourteener .check-in button:focus, .app .router .fourteener .check-in button:hover {
  background-color: #6a4025;
  color: #ffffff;
}
.app .router .fourteener .check-in button i {
  color: #ffffff;
}
.app .router .fourteener .reset-viewport {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.app .router .fourteener .reset-viewport button {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #6a4025;
}
.app .router .fourteener .reset-viewport button:focus, .app .router .fourteener .reset-viewport button:hover {
  background-color: #ffffff;
  color: #6a4025;
}
.app .router .fourteener .reset-viewport button i {
  color: #6a4025;
}
.app .router .fourteeners .fullscreen-control {
  position: absolute;
  top: 36px;
  right: 0;
  padding: 10px;
}
.app .router .fourteeners .geolacte-control {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.app .router .fourteeners .navigation-control {
  position: absolute;
  top: 72px;
  right: 0;
  padding: 10px;
}

.container .row {
  margin: 0;
  padding: 0;
}
.container .row .col {
  margin: 0;
  padding: 0;
}

.chip {
  background-color: #6a4025;
  color: #ffffff;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}
.chip span {
  padding-right: 8px;
}
.chip i {
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.details {
  background-color: #ffffff;
  height: 100%;
  left: 0;
  max-width: 480px;
  overflow-x: scroll;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  transition: 0.375s;
  z-index: 1;
}
.details button {
  background-color: #6a4025;
  color: #ffffff;
}
.details button:focus, .details button:hover {
  background-color: #6a4025;
  color: #ffffff;
}
.details button i {
  color: #ffffff;
}
.details .close {
  position: absolute;
  top: 5px;
  right: 5px;
}
.details .fourteener {
  padding: 10px;
}
.details .fourteener .photo {
  background-color: #eeeeee;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.details .fourteener table {
  overflow: scroll;
}
.details .fourteener table td {
  white-space: nowrap;
}
.details .fourteener table td:first-child {
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
